* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
fieldset,
legend,
button,
input,
textarea,
pre,
blockquote,
address,
th,
td,
hr {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
}

/* ----End CSS reset---- */

body {
    background: url('image/white-background.png') repeat center center fixed;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
  
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 10px 0px 10px;
}
  
main {
    padding: 10px;
}

.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.heading-wrapper {
    max-width: 85%;
    margin: 5px auto;
    margin-bottom: 8px;
    background: rgba(23, 130, 231, 0.5);
}

#logo {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    margin: 5px auto;
    margin-bottom: 8px;
}

.information {
    max-width: 85%;
    margin: 3px auto;
    padding: 5px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 600;
    color: rgba(64, 64, 64, 0.8);
}
  
.search {
    text-align: center;
    margin-bottom: 20px;
}

input {
    min-height: 34px;
    padding: 3px;
    font-size: 13px;
    font-weight: 400;
    border: 2px solid rgba(235, 230, 230, 0.8);
    border-radius: 4px;
    color: rgba(64, 64, 64, 0.9);
}

button {
    min-height: 29px;
    padding: 3px;
    border-radius: 4px;
    border: 2px solid rgba(97, 161, 243, 0.5);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(4, 94, 228, 0.671);
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: all linear;
}

button:active {
    transform: scale(0.9);
}
  
.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.product-card {
    background-color: rgba(156, 197, 236, 0.3);
    border: 5px solid #326ff3b3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    text-align: center;
    width: 300px;
    min-height: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    color: rgba(64, 64, 64, 0.8);
}
  
.product-card img {
    max-width: 100%;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    object-fit: contain;
    transition: all 0.3s ease-in-out;
}

.product-card img:hover {
    transform: scale(1.09);
}

.product-name {
    min-height: 60px;
    margin: 5px auto;
    padding: 5px 3px 3px 3px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.product-card h3 {
    margin-bottom: 8px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid rgba(97, 161, 243, 0.5);
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    background: rgba(23, 130, 231, 0.6);
}

.product-desc {
    margin-bottom: 5px;
    padding: 4px;
    height: 85px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.product-quantity {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

ul {
    padding: 5px;
}

li {
    display: inline-block;
    padding: 0px 8px 0px 8px;
    font-size: 16px;
    transition: all 0.5s ease-in-out;
}

li:hover {
    transform: scale(1.07);
}

@media screen and (max-width: 768px) {
    .product-card {
        width: 45%;
    }
    h1 {
        font-size: 22px;
    }
}
  
@media screen and (max-width: 460px) {
    .product-card {
        width: 95%;
    }
    h1 {
        font-size: 15px;
    }
    .information {
        padding: 0px;
        max-width: 95%;
        font-size: 12px;
        line-height: 20px;
    }
     li {
        font-size: 13px;
     }
}