* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}

html {
    scroll-behavior: smooth;
}

body,
h1, h2, h3, h4, h5, h6,
p,
ul, ol,
li,
figure,
figcaption,
blockquote,
dl,
dd,
fieldset,
legend,
button,
input,
textarea,
pre,
blockquote,
address,
th,
td,
hr {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder,
textarea::placeholder {
    opacity: 1;
}

/* ----End CSS reset---- */

body {
    background: url('image/white-background.png') repeat center center fixed;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
  
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 10px 0px 10px;
}
  
main {
    padding: 10px;
}

.container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.heading-wrapper {
    max-width: 85%;
    margin: 5px auto;
    margin-bottom: 8px;
    background: rgba(23, 130, 231, 0.5);
}

#logo {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.8);
    margin: 5px auto;
    margin-bottom: 8px;
}

h2 {
    width: 95%;
    min-height: 58px;
    margin: 6px auto 2px auto;
    line-height: 26px;
}

.information {
    display: flex;
    flex-direction: column;
    max-width: 75%;
    margin: 10px auto 20px auto;
    padding: 5px;
    padding-bottom: 0px;
    line-height: 25px;
    font-size: 15px;
    font-weight: 600;
    color: rgba(64, 64, 64, 0.8);
}

.information-text {
    max-width: 100%;
}

.information-contacts {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    padding: 5px;
}

.arrow-right {
    margin: 8px 5px 3px auto;
}

.arrow-left {
    margin: 8px auto 3px 5px;
}
  
.search {
    text-align: center;
    margin-bottom: 10px;
}

input {
    width: 240px;
    height: 35px;
    padding: 3px;
    font-size: 13px;
    font-weight: 600;
    border: 2px solid rgba(235, 230, 230, 0.8);
    border-radius: 4px;
    color: rgba(64, 64, 64, 0.9);
}

button {
    width: 30px;
    height: 30px;
    margin-left: 3px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid rgba(84, 166, 243, 0.4);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    background-color: rgba(23, 130, 231, 0.5);
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: all linear;
}

button:active {
    transform: scale(0.9);
}
  
.product-grid {
    margin: 3px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
  
.product-card {
    display: grid;
    position: relative;
    background-color: rgb(200, 219, 236);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    place-items: center;
    width: 300px;
    height: 480px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    color: rgba(64, 64, 64, 0.8);
}

.product-card::before {
    position: absolute;
    content: '';
    width: 299px;
    height: 479px;
    border-radius: 10px;
    background: rgba(168, 9, 9, 0.5);
    z-index: -1;
    transition: 0.3s ease-in-out;
}

.product-card:hover::before {
    width: 310px;
    height: 490px;
    border-radius: 14px;
}
  
.product-card img {
    max-width: 100%;
    width: 200px;
    height: 200px;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    object-fit: contain;
    transition: 0.3s ease-in-out;
}

.product-card img:hover {
    transform: scale(1.09);
}

.product-name {
    min-height: 75px;
    margin: 3px auto;
    padding: 3px;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.product-card h3 {
    width: 90%;
    margin-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 20px;
    font-weight: 500;
    border: 2px solid rgba(97, 161, 243, 0.5);
    border-radius: 2px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.9);
    background: rgba(23, 130, 231, 0.5);
}

.product-desc {
    width: 100%;
    margin-bottom: 5px;
    padding: 4px;
    height: 75px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.product-quantity {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
}

#scroll-to-top {
    display: grid;
    position: fixed;
    place-items: center;
    width: 40px;
    height: 40px;
    border: 4px solid rgba(23, 130, 231, 0.5);
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.8);
    bottom: 30px;
    right: 20px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

#scroll-to-top:hover {
    transform: scale(1.1);
}

#scroll-to-top.show {
    opacity: 1;
}

ul {
    max-width: 730px;
    margin: 8px auto 3px auto;
    padding: 3px 5px 3px 5px;
    border: 2px solid rgba(230, 228, 228, 0.5);
    box-shadow: 3px 3px 5px rgba(196, 195, 195, 0.5);
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.4);
    transition: 0.3s ease-in-out;
}

li {
    display: inline-block;
    margin: 3px;
    padding: 5px 5px 3px 5px;
    border-radius: 4px;
    font-size: 16px;
    color: rgba(58, 58, 59, 0.8);
    transition: 0.3s ease-in-out;
}

li:hover {
    transform: scale(1.05);
    background: rgba(70, 154, 233, 0.2);
}

@media screen and (max-width: 768px) {
    .product-card {
        min-width: 300px;
        min-height: 440px;
    }
    h1 {
        font-size: 22px;
    }
}
  
@media screen and (max-width: 460px) {
    .product-card {
        min-width: 300px;
        min-height: 440px
    }

    input {
        width: 210px;
    }
     
    h1 {
        font-size: 15px;
    }
    .information {
        padding: 0px;
        max-width: 95%;
        font-size: 12px;
        line-height: 20px;
    }
    .arrow {
        display: none;
    }
     li {
        font-size: 13px;
     }
}