
body {
    background: url('https://i.imgur.com/HXmyoIX.png') repeat center center fixed;
    font-family: verdana, sans-serif, serif;
    padding: 1rem;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6rem;
    box-sizing: border-box;
    /*border: 1px solid black; */
    color: rgba(65, 64, 64, 0.8);
}

.name-text {
    width: 95%;
    margin: 10px auto;
    text-align: center;
}

.info-text {
    width: 95%;
    padding: 5px;
}

ul {
    list-style: none;
}

li {
    width: 45%;
    height: 440px;
    margin: 5px 5px;
    padding: 5px 5px;
    background-color: rgba(156, 197, 236, 0.3);
    border: 5px solid #326ff3b3;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    display: inline-block;
    overflow: auto;
}

@media (min-width: 768px) {
    li {
        height: 365px;
        width: 30%;
    }
    .info-text p {
        font-size: 16px;
    }
    .products p {
        font-size: 16px;
    }
}

h1 {
    font-size: 2rem;
    margin: 0 auto;
}

.container {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    overflow: auto;
}

.logo {
    margin: 5px auto;
    padding: 5px;

}

.logo img {
    max-width: 370px;
}

.products {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.products-image {
    width: 200px;
    height: 200px;
    border: 2px solid #949597fb;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.548);
    border-radius: 3px;
}